<h1>パスワードリセット</h1>
<%= form_with(model: User.new, url: {action: 'update'}, method: :patch, data: {remote: false}) do |form| %>
  <dl>
    <dt>パスワード</dt>
    <dd><%= form.password_field :password %></dd>
    <dt>パスワード（確認）</dt>
    <dd><%= form.password_field :password_confirmation %></dd>
    <dt><%= form.submit "送信する" %></dt>
  </dl>
<% end %>
